#effect-target-prompt {
    section.window-content {
        h3 {
            text-align: center;
        }

        ul {
            list-style-type: none;
            padding: unset;

            > li {
                margin: 4px;
                a {
                    display: flex;
                    align-items: center;

                    &:hover {
                        text-shadow: none;
                        box-shadow: 0 0 8px red;
                    }

                    > * {
                        padding: 3px;
                    }

                    img {
                        height: 3rem;
                    }

                    span {
                        padding-left: 1rem;
                    }
                }
            }
        }
    }
}
