#world-clock {
    section.window-content {
        h1 {
            text-align: center;
            font-size: 1.15em;
        }

        .input-grid {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            > * {
                flex-basis: 32%;
                font-size: 13px;
                height: 24px;
                line-height: 20px;
            }
            > button {
                margin: 1px;
                .sign {
                    font-family: monospace;
                }
            }
        }
    }
}
